
<section [ngSwitch]="editMode">
<div class="container">
<h2 class="page-header">Your Profile Details:</h2>

<form *ngSwitchCase="true" (ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
    <label for="name">User Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            value={{usersLogIN.name}}
            required>
  </div>
    <!--div class="form-group">
    <label for="email">Email</label>
    <input type="email"
            class="form-control"
            id="email"
            name = "email"
            value={{usersLogIN.email}}
            required>
  </div-->
    <div class="form-group">
    <label for="pic">Profile Picture</label>
    <input  type="file"
            class="form-control"
            id="pic"
            name = "pic">
  </div>
  <button  class="btn btn-primary" (click)="changeEditMode()">Cancel</button>
  <!--button  type="submit" class="btn btn-primary">Save Changes</button-->
  <button class="btn btn-primary" (click)="saveChanges()">Save Changes</button>

</form>

<div *ngSwitchCase="false">
<b><h4 *ngSwitchCase="false" style="display: inline;">User Name:  </h4></b> <p style="display: inline;">{{usersLogIN.name}}</p><br><br>
<b><h4 *ngSwitchCase="false" style="display: inline;">Email:  </h4></b><p style="display: inline;">{{usersLogIN.email}}</p><br><br>
<b><h4 *ngSwitchCase="false" style="display: inline;">Profile Picture:  </h4></b><span *ngIf="isLoading"><br><br><img width="200" src="{{storageRef}}" alt="Profile picture"></span><br><br><br>

<jce-spinner [visible]="!isLoading"></jce-spinner>

<div *ngIf="usersLogIN.provider==4">
<button  *ngSwitchCase="false" class="btn btn-primary" (click)="changeEditMode()">Edit</button>
</div>
</div>
</div>
  </section>





<!--div>
  <ul class= "list-group users">
    <li class="list-group-item" 
    *ngFor = "let user of users" 
    [class.active]="currentUser == user" 
    (click)="select(user)">
      <jce-user [user] = "user" (deleteEvent) = "deleteUser($event)" (editEvent) = "updateUser($event)"> </jce-user>
    </li>
  </ul>
</div-->