<section [ngSwitch]="thisAdnim">
<div *ngSwitchCase="false">
<b><h3> {{group.name}} </h3></b>
</div>

<div *ngSwitchCase="true">
<span *ngIf = "!isEdit"><h2><b> {{group.name}} </b> <button (click)="editMode()"><img width="30" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/pencil-xxl.png?alt=media&token=4542c81c-1798-4802-aeac-07b07495a3ec" /></button>
<button  (click)="sendDelete()"><img width="30" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/delete-xxl.png?alt=media&token=2fd12602-078c-472f-b409-ebff5e0a75df" /></button></h2></span>

<span *ngIf = "isEdit">
Group Name: <input type="text"  [(ngModel)]="group.name"> <button (click)="saveChange()"><img width="30" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/save.png?alt=media&token=49e5c4d7-64a9-4a96-8740-b2a2c16fff1b" /></button>
<button (click)="cancelEdit()"><img width="30" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/cancel.png?alt=media&token=d792f8e8-9d44-4078-b65e-75f7880a2a79" /></button>
</span>



</div>

</section>