<div class="container">
  <jce-user-form> </jce-user-form>

  <!--h4>Login with google account:</h4>
  <h2 class="page-header"></h2>  <br--> 


<h3 style="width: 100%; height: 20px; border-bottom: 1px solid #B0B0B0; text-align: center">
  <span style="color:#B0B0B0; background-color: white; padding: 0px 30px 30px 30px; ">
    <sub>or</sub>
  </span>
</h3> <br> <br>


  <button md-raised-button class="btn btn-default btn-lg" style="float: left; position: relative; left: 40%;"  (click)="login('google')"><img width="35" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/google-logo.png?alt=media&token=af099361-af86-4093-ad70-5c7ac1bb7b25" />  Use My Google Account</button>
</div>


