<form (ngSubmit) = "onSubmit(f)" #f= "ngForm">                    
<div class="input-group">
  <input type="text" class="form-control" placeholder="Write your message here..." required id="content" name= "name">
  <span class="input-group-btn">
    <button class="btn btn-default"  type="submit">Send</button>
  </span>
</div>
</form>