<div class="container">
  <section [ngSwitch]="isAuth">

<!-- Navigation bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Chat On</a>
      <img width="40" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/unnamed.png?alt=media&token=b9979516-85d0-416b-af9f-f2437286579d" />
    </div>
    <ul  *ngSwitchCase="true" class="nav navbar-nav">
      <li><a routerLink = "/friends" >My Profile</a> </li>
      <li><a routerLink = "/groups" >My Chat Groups</a> </li>
      <li><a  (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
  <p  *ngSwitchCase="true">Hi {{usersLogIN}}</p>
  <router-outlet></router-outlet>   

</section>
</div>

