  <section [ngSwitch]="isLog">

<div class="container">
<h2 *ngSwitchCase="false" class="page-header">Sign up</h2>
<h2 *ngSwitchCase="true" class="page-header">Log in</h2>
<h5 *ngSwitchCase="false">It's free and always will be.</h5>

<form (ngSubmit) = "onSubmit(f)" #f = "ngForm">
 <div *ngSwitchCase="true"> <div *ngIf="notValid" style=" color: red;"><p>Your login details are incorrect</p></div></div>
 <div *ngSwitchCase="false"> <div *ngIf="notValid" style=" color: red;" ><p>It's seems that you already have an account, try to login</p></div></div>
  <div  *ngSwitchCase="false" class="form-group">
    <label for="name">User Name</label>
    <input type="text"
            class="form-control"
            id="name"
            name = "name"
            required
            [(ngModel)] = "user.name">
  </div>
    <div class="form-group">
    <label for="email">Email</label>
    <input type="email"
            class="form-control"
            id="email"
            name = "email"
            required
            [(ngModel)] = "user.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
            class="form-control"
            id="password"
            name = "password" 
            placeholder="Password must be at least 6 characters"
            required
            [(ngModel)] = "user.password">  
            <div *ngSwitchCase="false"><div *ngIf="notValid1" style=" color: red;"><p>Password must be at least 6 characters</p></div></div>
  </div>
    <div  *ngSwitchCase="false" class="form-group">
    <label for="pic">Profile Picture <i>(optional)</i></label>
    <input  type="file"
            class="form-control"
            id="pic"
            name = "pic"
            [(ngModel)] = "user.pic">
  </div>
  <br><button *ngSwitchCase="false" type="submit" class="btn btn-primary " >Create Account</button>
  <p *ngSwitchCase="false">Already have an account? <a (click)="changelog('in')">Log in </a>here</p>
  <button *ngSwitchCase="true" type="submit" class="btn btn-primary" >Start Chatting</button>
    <p *ngSwitchCase="true">New User? <a (click)="changelog('up')">Sign up </a>here</p>

</form>

</div>
  </section>


      <!--button type="button" class="btn btn-success" (click)="uploadImagesToFirebase()" [disabled]="files?.length == 0 || !isEnabledUpload">
        <span class="glyphicon glyphicon-upload"></span> Upload files to Firebase
    </button>
    <button type="button" class="btn btn-danger" (click)="clearFiles()">
        <span class="glyphicon glyphicon-trash"></span> Clear files
    </button-->