<!--a routerLink = "/groups" (click)="seeAll()" >All My Groups</a> |
<a routerLink = "/groups/2" (click)="seeAdmin()" >Update Groups details</a--> |

<a routerLink = "/groups" >All My Groups</a> |
<a routerLink = "/groups/2" >Update Groups details</a> |
<a routerLink = "/newGroup">Create New Group</a> 

<form (ngSubmit) = "onSubmit(f)" #f= "ngForm">  
  <br> <br><h2 style="display: inline;">Create New Group</h2>
	
      <button style="float:right; " type="submit" class="btn btn-primary" >Create Group</button><br><br>
                  
    <div class="form-group">
      <label for="name">Group Name*</label>
      <input type="text"  class="form-control" id="name" name= "name" [(ngModel)]= "group.name">
    </div>

     <div *ngIf = "!fillName" style=" color: red;"><p>Please fill Group name</p></div>

    <!--div class="form-group">
      <label for="amount">Members</label>
      <input type="text"  class="form-control" id="members" name="members" [(ngModel)]= "group.members">
    </div-->

      <!--div class="form-group">
        <label for="members">Group Members</label>
        <br><select multiple class="form-control" #members (change)="addMember(members.value)">
        <option *ngFor="let user of users" [value]="user.$key" > {{user.name}} ({{user.email}}) </option>
        </select>
      </div-->

<label for="members">Group Members</label>
<div class="form-group" *ngFor="let user of users">
  <input type="checkbox" id="user.$key" [value]="user.$key" (change)="addMember($event, user.$key)"/>{{user.name}} ({{user.email}})
</div>


	
	</form>


                
                <!--br><button md-raised-button (click)="addMember(members.value , group)">Add</button-->