  <span *ngFor="let group of groupName">
    <span *ngIf="group.$key == groupId"> 
   <h2>{{group.name}}</h2></span></span>

<body class="jumbotron">
<div #scrollMe style="height: 500px; overflow: auto;">

    <span *ngFor="let post of posts" (click)="select(post)" [class.active]="currentPost == post">
        <span *ngIf="post.group == groupId"> 
        <div *ngFor= "let user of post.userName" class="list-group-item ">
          <b>{{(user | async)?.name}}</b>
          <span style="float: right;">{{post.dateTime}}</span>
            <br> {{post.content}}
        </div>
        </span>
    </span>

</div>
<br>
    <jce-post-form style="float:down"></jce-post-form>

</body>


    