
{{user.name}} ({{user.email}})

<!--span *ngIf="!isEdit">Name: {{user.name}}</span> 

<span *ngIf="isEdit">
    UserName: <input type="text" [(ngModel)]="user.name" >
    Email: <input type="text" [(ngModel)]="user.email">
</span>

<button type="button" class="btn" (click) = "toggleEdit()">{{editButtonText}}</button>
<button type="button" class="btn btn-danger" (click) = "sendDelete()">Delete</button--> 

<!--pull-right-->