
<section [ngSwitch]="thisAdnim">
  <a (click)="seeAll()" >All My Groups</a> |
<a (click)="seeAdmin()" >Update Groups details</a> |
<a routerLink = "/newGroup">Create New Group</a> 


<jce-spinner [visible]="isLoading"></jce-spinner>


<div>
  <!--All sites-->
<div *ngSwitchCase="false">
  <h2>Groups as Admin:</h2>
  <span class= "list-group users">
    <div *ngFor = "let group of groups"> 
      <span *ngFor= "let name of group.admins">
       <div class="list-group-item" *ngIf="(name | async)?.email == usersLogIN" >
          {{noGroupsAdmin()}}
         <ul  ><li>
          <a routerLink = "/posts/{{group.$key}}"><jce-group [group] = "group" [thisAdnim] = "false"> </jce-group></a>
             <!-- Group Admin: {{(name | async)?.name}} <br-->
             <b>Group Members:</b>
              <ul>
                <li *ngFor= "let name1 of group.memberss" >
                    {{(name1 | async)?.name}} ({{(name1 | async)?.email}})

                </li>
              </ul>
          </li>
         </ul>
        </div>
      </span>
    </div>
  </span>

  <span  *ngIf="nogroupadmin"><br><div class="alert alert-info">You are not an admin of any groups, <a routerLink = "/newGroup" class="alert-link">start by creating your own group</a></div><br></span>

 <h2>All Groups:</h2>
                <div *ngFor = "let group of groups"> 
                  <span *ngFor= "let name1 of group.memberss" >
                      <div class="list-group-item" *ngIf="(name1 | async)?.email == usersLogIN">
                        {{noGroups()}}
                          <span class= "list-group users">
                                <ul>
                                  <li>
                                  <a routerLink = "/posts/{{group.$key}}"><jce-group [group] = "group" [thisAdnim] = "false"> </jce-group></a>
                                      <span *ngFor= "let name of group.admins">
                                          Group Admin: {{(name | async)?.name}}
                                      </span>
                                    <br><b>Group Members:</b>
                                      <ul>
                                        <li *ngFor= "let name2 of group.memberss" >
                                            {{(name2 | async)?.name}} ({{(name2 | async)?.email}})
                                        </li>
                                      </ul>
                                  </li>
                                </ul>
                          </span>
                      </div>
                  </span>
             </div>
               <span  *ngIf="nogroup" ><br><div class="alert alert-info">You are not a member of any groups, <a routerLink = "/newGroup" class="alert-link">start by creating your own group</a></div><br></span>

</div>



<!--admin sites-->
<div *ngSwitchCase="true">
  <span class= "list-group users">
    <div *ngFor = "let group of groups"> 
      <span *ngFor= "let name of group.admins">
       <div class="list-group-item" *ngIf="(name | async)?.email == usersLogIN">
          {{noGroupsAdmin()}}
         <ul ><li>
          <jce-group [group] = "group" [thisAdnim] ="true" (deleteEvent)="deleteGroup($event)" (editEvent)="editGroup($event)"> </jce-group>
             <br><b>Group Members:</b>
              <ul>
                <li *ngFor= "let name1 of group.memberss" >
                    {{(name1 | async)?.name}} ({{(name1 | async)?.email}}) 
                    <button (click)="deleteMember(name1 , group)"><img width="20" src="https://firebasestorage.googleapis.com/v0/b/angular-final-project.appspot.com/o/delete-xxl.png?alt=media&token=2fd12602-078c-472f-b409-ebff5e0a75df" /></button>
                </li>
                <!--multiple-->
                <br><select #members> // value is a string or number
                  <option value=""  disabled selected>Add New Member</option>
                <option *ngFor="let user of users" [value]="user.$key" > {{user.name}} ({{user.email}}) </option>
                <!--[selected]="car.color.id == x.id"  (user | async)?.email === (name2 | async)?.email-->
                 <!--div *ngFor="let user of users"> <option *ngFor= "let name2 of group.memberss" [value]="user.$key" [disabled]="(user | async)?.email === (name2 | async)?.email">  {{user.name}} ({{user.email}})</option></div-->
                </select>
                <p *ngIf="!newUser">This User is already member in this group</p>
                  <br><button md-raised-button (click)="addMember(members.value , group)">Add</button>

                </ul>
          </li>
         </ul>
        </div>
      </span>
    </div>
  </span>
    <span  *ngIf="nogroupadmin" ><br><br><div class="alert alert-info">You are not an admin of any groups, <a routerLink = "/newGroup" class="alert-link">start by creating your own group</a></div></span>
</div>
</div>
</section>





